{
	# Email для уведомлений Let’s Encrypt о продлении сертификата.
	email {$ACME_EMAIL}
}

www.minimishki.ru {
	redir https://minimishki.ru{uri} permanent
}

minimishki.ru {
	encode zstd gzip
	reverse_proxy web:3000
}

api.minimishki.ru {
	encode zstd gzip
	reverse_proxy api:3001
}
